body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

#canvas-wrapper {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

canvas {
    margin-bottom: 60px;
}

#info {
    color: #fff;
    font-size: 16px;
    font-family: monospace;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 320px);
    z-index: 1;
}

#credits {
    color: #aaa;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}